/*Web type scale*/

/*http://type-scale.com/*/

html {
    /*    1em = 16px*/
    font-size: 1em;
}

body {
    background-color: white;
    font-family: 'Raleway', sans-serif;
    /*    font-weight: 400;*/
    /*    150% of the font size*/
    line-height: 1.5;
    color: rgb(0, 0, 0);
}

p {
    margin-bottom: 1.3em;
}

/*this is a group selection, selecting all the headlines h1-h4*/
h1,
h2,
h3,
h4 {
    font-family: 'Merriweather', serif;
    /*  top:1.414em right:0  bottom:0.5em left:0*/
    margin: 1.414em 0 0.5em 0;
    font-weight: 700;
    line-height: 1.2;
}

h1 {
    margin-top: 0;
    font-size: 5em;
}

h2 {
    color: dimgray;
    font-size: 3em;
}

h3 {
    font-size: 1.777em;
}

h4 {
    font-size: 1.333em;
}

small,
.font_small {
    font-size: 0.75em;
}


/* link*/

a {
    color: dimgray;
}

a:hover {
    color: dimgray;
    transition: all 0.5s;
}

/*button style*/
/*solid button style*/
.btn {
    font-size: 1rem;
    letter-spacing: .1em;
    line-height: 2em;
    border-radius: 3em;
    /*    top:1.8 right:3.6 bottom 1.8 left3.6*/
    padding: .5em 1em;
    color: ghostwhite;
    background: rgba(244, 164, 96, 1);
    border: none;
    margin-bottom: 2em;
}

.btn:hover {
    color: dimgray;
    opacity: 0.8;
    transition: all 0.5s;
}


.view {
    background: url(../img/backgroundPic.jpg) center center no-repeat;
    padding: 18em 0;
    margin-bottom: .5em;
}

.brown {
    margin: 100;
    background-color: sandybrown;
}

.topnav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  /*position: fixed;*/
  overflow: hidden;
  background-color: dimgray;
    width: 100%;
    /*top: 0;*/
    z-index: 1000;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: sandybrown;
  color: white;
}


p {
    color: dimgray;
}


.name {
    margin-top: 2em;
    margin-bottom: 0em;
}


/*Portfolio thumbnails*/
.portfolioBox {
    border: solid lightgray 1px;
    height: 375px;
    width: 375px;
    border-radius: 10px;
    padding-top: 22.5px;
    padding-right: 40px;
    padding-left: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.portfolio-link img:hover {
    opacity: 0.9;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 0.75s;
}



/*portfolio modal*/
.portfolio-modal .modal-body {
    position: static;
}

/*modal box size*/
.portfolio-modal .modal-dialog {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    /*    enable the overflow to set the screen no scrolling*/
    /*            overflow:hidden;*/
}

/*content*/
.portfolio-modal .modal-content {
    /*the paragraph font color*/
    color: #746f6f;
    padding: 0 0 2em 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: left;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    /*the background-color*/
    background-color: white;
    border-radius: 10px;
}


/*project title*/
.portfolio-modal .modal-content h2 {
    margin-top: 0px;
    margin-bottom: 50px;
    font-size: 3em;
}


/*bottom of the modal box including prev, next, back to work*/
.portfolio-modal .bottom {
    /* direction:   top right bottom left*/
    padding: 0em 5em 2em 5em;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}

/*the X close icon*/
.portfolio-modal .modal-header .close {
    font-size: 4em;
    /* direction:   top right bottom left*/
    padding: 0 1em 0 0;
    font-weight: 200;
    color: sandybrown;
}
.portfolio-modal .modal-header .close:hover {
    color: dimgray;
}

.portfolio-modal .modal-header {
    border-bottom: none;
}

.portfolio-modal .modal-backdrop {
    display: none;
    opacity: 0;
}

/*contact*/
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=email]{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  font-size: 1rem;
    letter-spacing: .1em;
    line-height: 2em;
    border-radius: 3em;
    /*    top:1.8 right:3.6 bottom 1.8 left3.6*/
    padding: .5em 1em;
    color: ghostwhite;
    background: rgba(244, 164, 96, 1);
    border: none;
    margin-bottom: 2em;
}

input[type=submit]:hover {
    color: dimgray;
    opacity: 0.8;
    transition: all 0.5s;
}

.social {
    font-size: 2em;
    color: whitesmoke;
    display: inline-block;
    padding: 0.5em;

}
.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}